@using OA.EntityLayer.Requests.ContactInfoRequests
@model ResultContactInfoRequest

<div class="mb-4">
    <h6 class="text-uppercase font-weight-bold">Hakkımızda</h6>
    <p class="mb-4">@Model.Info<a href="/User/Home/Index">OlayAnindan.com</a>.</p>
    <div class="mb-3">
        <div class="d-flex align-items-center mb-2">
            <i class="fa fa-map-marker-alt text-primary mr-2"></i>
            <h6 class="font-weight-bold mb-0">Ofisimiz</h6>
        </div>
        <p class="m-0">@Model.Address</p>
    </div>
    <div class="mb-3">
        <div class="d-flex align-items-center mb-2">
            <i class="fa fa-envelope-open text-primary mr-2"></i>
            <h6 class="font-weight-bold mb-0">Email Adresimiz</h6>
        </div>
        <p class="m-0">@Model.Email</p>
    </div>
    <div class="mb-3">
        <div class="d-flex align-items-center mb-2">
            <i class="fa fa-phone-alt text-primary mr-2"></i>
            <h6 class="font-weight-bold mb-0">Telefon Numaramız</h6>
        </div>
        <p class="m-0">@Model.PhoneNumber</p>
    </div>
</div>