@using OA.EntityLayer.Requests.SocialMediaRequests
@model List<ResultSocialMediaRequest>

<h6 class="mt-4 mb-3 text-white text-uppercase font-weight-bold">Bizi Takip Edin</h6>
<div class="d-flex justify-content-start">

	@foreach (var item in Model)
	{
		<a class="btn btn-lg btn-secondary btn-lg-square mr-2" href="@item.SiteUrl"><i class="@item.Icon"></i></a>
	}
	
</div>