@* Areas --> User --> Controller --> HomeController *@

<div class="mb-3">
	<div class="section-title mb-0">
		<h4 class="m-0 text-uppercase font-weight-bold">Abonelik Sistemi</h4>
	</div>
	<div class="bg-white text-center border border-top-0 p-3">
		<p>Haberlerimizden anında haberdar olmak için mail adresinizle abone olmayı unutmayın.</p>

		<form asp-action="SubscribeToNews" asp-controller="Home" asp-area="User" method="post">
		<div class="input-group mb-2" style="width: 100%;">
				<input type="text" class="form-control form-control-lg" name="Email" placeholder="E-mail Adresiniz">
				<div class="input-group-append">
					<button class="btn btn-primary font-weight-bold px-3">Kayıt Ol</button>
				</div>
		</div>
		</form>

		<small>Dilediğiniz zaman iptal etme garantisi.</small>
	</div>
</div>