<head>
	<meta charset="utf-8">
	<title>OlayAnindan.com</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="keywords">
	<meta name="description">

	<link href="~/news/img/favicon.ico" rel="icon">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

	<link href="~/news/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

	<link href="~/news/css/style.css" rel="stylesheet">
</head>