<div class="container-fluid d-none d-lg-block">
	<div class="row align-items-center bg-dark px-lg-5">
		<div class="col-lg-9">
			<nav class="navbar navbar-expand-sm bg-dark p-0">
				<ul class="navbar-nav ml-n2">
					<li class="nav-item border-right border-secondary">
						<a class="nav-link text-body small">@DateTime.Now.ToString("dddd, MMMM d, yyyy")</a>
					</li>

					<li class="nav-item border-right border-secondary">
						<a class="nav-link text-body small" href="#">Reklam</a>
					</li>
					<li class="nav-item border-right border-secondary">
						<a class="nav-link text-body small" href="/User/Contact/Index">İletişim</a>
					</li>
					<li class="nav-item">
						@if(ViewBag.ActiveUserId == null)
						{
							<a class="nav-link text-body small" href="/User/Login/Index">Giriş Yap</a>
						}
						else
						{
							<a class="nav-link text-body small" href="/User/Login/LogOut">Çıkış Yap<span> - @ViewBag.ActiveUsername</span></a>
						}
					</li>
				</ul>
			</nav>
		</div>

		@await Component.InvokeAsync("_HomeLayoutNavbarSocialMediaComponentPartial")

	</div>
	<div class="row align-items-center bg-white py-3 px-lg-5">
		<div class="col-lg-4">
			<a href="/User/Home/Index" class="navbar-brand p-0 d-none d-lg-block">
				<h1 class="m-0 display-4 text-uppercase text-primary">Olay<span class="text-secondary font-weight-normal">Anından</span></h1>
			</a>
		</div>
		<div class="col-lg-8 text-center text-lg-right">
			<a href="https://htmlcodex.com"><img class="img-fluid" src="~/news/img/ads-728x90.png" alt=""></a>
		</div>
	</div>
</div>