<div class="mb-4">
	<h6 class="text-uppercase font-weight-bold">3. Kullanım Şartları</h6>
	<p>Bu web sitesini kullanarak aşağıdaki koşulları kabul etmiş sayılırsınız.</p>
	<p><strong>Hizmet Kullanımı</strong></p>
	<ul>
		<li>OlayAnından, haber içeriklerini doğru ve güncel tutmak için çaba gösterir. Ancak, içeriklerin kesin doğruluğunu garanti etmez.</li>
		<li>Web sitemizde sunulan içerik yalnızca bilgilendirme amaçlıdır.</li>
	</ul>
	<p><strong>Sorumluluk Reddi</strong></p>
	<ul>
		<li>OlayAnından, üçüncü taraf bağlantılarından kaynaklanabilecek sorunlardan sorumlu değildir.</li>
		<li>Kullanıcılar, sitedeki bilgileri kendi sorumlulukları doğrultusunda kullanır.</li>
	</ul>
	<p><strong>Kullanıcı Yükümlülükleri</strong></p>
	<ul>
		<li>Yasa dışı, yanıltıcı veya zararlı içerik paylaşımı yasaktır.</li>
		<li>Kullanıcılar, fikri mülkiyet haklarına saygı göstermekle yükümlüdür.</li>
	</ul>
</div>