@if (TempData["MustBeLoggedInError"] != null)
{
    <div class="alert alert-danger">
        @TempData["MustBeLoggedInError"]
    </div>
}

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Yorum Yap</h4>
    </div>
    <div class="bg-white border border-top-0 p-4">
        <form action="/User/News/LeaveComment" method="post">
            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
            <input type="hidden" name="ArticleId" value="@ViewBag.SelectedArticledId" />
            <div class="form-group">
                <label for="message">Yorumunuz *</label>
                <textarea id="message" name="CommentText" cols="30" maxlength="249" style="max-height:150px" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group mb-0">
                <input type="submit" value="Yorumu Paylaş"
                       class="btn btn-primary font-weight-semi-bold py-2 px-3">
            </div>
        </form>
    </div>
</div>