@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="col-lg-8">

    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Bizimle İletişime Geçin</h4>
    </div>

    <div class="bg-white border border-top-0 p-4 mb-3">
        @await Component.InvokeAsync("_ContactInfoComponentPartial")
        
        @await Component.InvokeAsync("_ContactSendMessageComponentPartial")
    </div>

</div>

