<div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
	<p class="m-0 text-center">
		&copy; <a href="#">OlayAnindan.com</a> Bütün Hakları Saklıdır.

		Detaylar için <a href="https://olayanindan.com">OA</a>
	</p>
</div>

<a href="#" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>