@using OA.EntityLayer.Requests.ArticleRequests
@model List<ResultArticleRequest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @await Component.InvokeAsync("_HomeGetMainNewsComponentPartial")
        @await Component.InvokeAsync("_HomeGetFeaturedNewsComponentPartial")
    </div>
</div>