@using OA.EntityLayer.Requests.ArticleRequests
@model List<ResultArticleRequest>

<div class="mb-3">
	<div class="section-title mb-0">
		<h4 class="m-0 text-uppercase font-weight-bold">Trend Haberler</h4>
	</div>
	<div class="bg-white border border-top-0 p-3">

		@foreach (var item in Model)
		{
			<div class="d-flex align-items-center bg-white mb-3">
				<img class="img-fluid" src="@Url.Content(item.MainMediaPath)" alt="" style="width: 100px; height: 100px; object-fit: cover;">
				<div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
					<div class="mb-2">
						<a class="badge badge-primary text-uppercase font-weight-semi-bold p-1 mr-2" href="/User/News/FilterNews?categoryId=@item.CategoryId&dateOpt=true">@item.CategoryName</a>
						<a class="text-body" href=""><small>@item.CreatedAt</small></a>
					</div>
					<a class="h6 m-0 text-secondary text-uppercase font-weight-bold" href="/User/News/SingleNews/@item.ArticleId">@item.MainTitle</a>
				</div>
			</div>
		}	
		
	</div>
</div>