@using OA.EntityLayer.Requests.CategoryRequests
@model List<ResultCategoryRequest>

<div class="col-lg-3 col-md-6 mb-5">
	<h5 class="mb-4 text-white text-uppercase font-weight-bold">Kategoriler</h5>
	<div class="m-n1">
		@foreach (var item in Model)
		{
			<a href="/User/News/FilterNews?categoryId=@item.CategoryId&dateOpt=true" class="btn btn-sm btn-outline-secondary m-1">@item.CategoryName</a>
		}
	</div>
</div>