<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
	<div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
		<span class="sr-only">Yükleniyor...</span>
	</div>
</div>

<div class="sidebar pe-4 pb-3">
	<nav class="navbar bg-light navbar-light">
		<a href="#" class="navbar-brand mx-4 mb-3">
			<h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>PANEL</h3>
		</a>
		<div class="d-flex align-items-center ms-4 mb-4">
			<div class="position-relative">
				<img class="rounded-circle" src="~/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
				<div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
			</div>
			<div class="ms-3">
				<h6 class="mb-0">Ahmet Yeşil</h6>
				<span>Admin</span>
			</div>
		</div>
		<div class="navbar-nav w-100">
			<a href="/Admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Kontrol Paneli</a>
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Haberler</a>
				<div class="dropdown-menu bg-transparent border-0">
					<a href="/Admin/News/LatestNews" class="dropdown-item">Son Haberler</a>
					<a href="/Admin/News/ShareNews" class="dropdown-item">Haber Paylaş</a>
					<a href="/Admin/Comment/LatestComments" class="dropdown-item">Son Yorumlar</a>
				</div>
			</div>
			<a href="/Admin/Category/Manage" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Kategoriler</a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Medyalar</a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Kayıtlar</a>
			<a href="#" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>İstatistikler</a>

			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Üyeler</a>
				<div class="dropdown-menu bg-transparent border-0">
					<a href="/Admin/User/InsertUser" class="dropdown-item">Yeni Üye</a>
					<a href="/Admin/User/Manage" class="dropdown-item">Üyeler</a>
					<a href="/Admin/User/BlockedUsers" class="dropdown-item">Engellenler</a>
				</div>
			</div>

			<a href="/User/Home/Index" class="nav-item nav-link"><i class="fa fa-home"></i>Siteye Git</a>
		</div>
	</nav>
</div>