<div class="mb-4">
	<h6 class="text-uppercase font-weight-bold">2. Çerez Politikası</h6>
	<p>Web sitemiz, kullanıcı deneyiminizi iyileştirmek ve hizmetlerimizi optimize etmek için çerezler kullanmaktadır.</p>
	<p><strong>Çerez Nedir?</strong></p>
	<p>Çerezler, web tarayıcınız tarafından cihazınıza kaydedilen küçük metin dosyalarıdır.</p>
	<p><strong>Hangi Tür Çerezleri Kullanıyoruz?</strong></p>
	<ul>
		<li>Zorunlu Çerezler: Web sitemizin düzgün çalışması için gereklidir.</li>
		<li>Analitik Çerezler: Kullanıcı davranışlarını analiz ederek sitemizi geliştirmek için kullanılır.</li>
		<li>Reklam Çerezleri: İlgi alanlarınıza uygun içerik ve reklam gösterimi sağlar.</li>
	</ul>
	<p><strong>Çerezlerin Yönetimi</strong></p>
	<p>Tarayıcınızın ayarlarını kullanarak çerezleri devre dışı bırakabilir veya silebilirsiniz. Ancak, bu durumda bazı özellikler sınırlı olabilir.</p>
</div>